@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(182,227,248);
}

ul {
  padding-left: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

#nav-logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(182,227,248);
  padding-left: 1em;
} 

#nav-ul {
  display: flex;
  list-style: none;
  background-color: rgb(15, 15, 36);
  margin: 0;
}

#nav-li-2 {
  margin-left: auto;
}

nav li {
  padding-right: 1em;
  height: 100%;
}

nav li p {
  height: 100%;
}

nav li a {
  color: rgb(182,227,248);
  text-decoration: none;
  font-size: 1.2rem;
  padding: .5em 1em;
}

nav li a:hover {
  background-color: rgb(182,227,248);
  color: rgb(15, 15, 36);
}

#hero-div {
  display: flex;
}

#hero-links {
  width: 50%;
  margin-top: 10em;
}

#hero-links a {
  text-decoration: none;
  color: white;
  background-color: rgb(15, 15, 36);
  padding: .5em 1em;
  border-radius: .5em;
  font-size: 1.3rem;
}

#hero-links a:hover {
  background-color: white;
  color: rgb(15, 15, 36);
}

#hero-links p {
  margin-bottom: 4em;
  margin-left: 35em;
}

@media(max-width: 1600px) {
  #hero-links p {
    margin-left: 20em;
  }
}

@media(max-width: 1200px) {
  #hero-links p {
    margin-left: 10em;
  }
}

@media(max-width: 1200px) {
  #hero-div {
    display: block;
  }

  #hero-links {
    margin: 3em auto;
  }

  #hero-img-div {
    width: 100%;
  }
  
  #hero-img-div img {
    margin: 0 auto;
    display: block;
  }
}