<h1>Welcome to HOSPITAL. Get better?</h1>
<div id="hero-div">
  <div id="hero-links">
    <p>@Html.ActionLink("View all Doctors", "Index", "Doctors")</p>
    <p>@Html.ActionLink("View all Patients", "Index", "Patients")</p>
  </div>
  <div id="hero-img-div">
    <img src="~/img/Isometric Hospital.png" />
  </div>
</div>