<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Registrar System</title>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>

<body>
  <div class="container">
    @await Html.PartialAsync("_Header")
    @RenderBody()
  </div>
</body>

</html>